

    
.bottom-panel{
    position: absolute;
    left: 50%;
    top: 68%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 400;
    color:$color-corail;
    text-transform: uppercase;
    z-index: 500;
    
    
   

    &__box{
        letter-spacing: 3.7333333vh;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        font-size: 8vh;
    }
    &__double{

        flex-wrap: nowrap;
        letter-spacing: 2.66666666vh;
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        font-size: 4vh;
        margin-bottom: 8vh;
      
    }

    &__chat{
        position: fixed;
        bottom: 2.666666666vh;
        right: 6vh;
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 1.333333333vh;
        z-index:500;


        &-barre{
            display: flex;
            flex-direction: row;

        }
        &-text{
            background-color: rgb(255, 255, 255);
            max-height: 2.666666666vh;
            min-width: 32vh;
            color: $color-grey;
            border: hidden;
        }
        &-logo{
            max-height: 2.66666666vh;
            
        }
        &-logo:hover{
            box-shadow: 0 0vh 4vh rgba(0, 0, 0 , .7);
            
            
        }

        &-msg{
            display: flex;
            flex-direction: column-reverse;
            background-color: white;
            height: 20vh;
            width: 34.666666666vh;
            margin-bottom: 1.3333333333vh;

            overflow-y: scroll;
            scrollbar-width: thin;
            
        }

    }

}


.playing-name{

   
    text-align: center;
    text-transform: uppercase;
    font-size: 500%;
    font-weight: 400;
    letter-spacing: .2rem;
   
}

.playing-text{
    
    
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 300%;
    font-weight: 400;
    letter-spacing: .2rem;
}