.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom,rgba($color-bleu-light, .8) , rgba($color-bleu-dark,.8)), url(img/background.jpg);
    background-size: cover;
    background-position: top;

    
   
}