@mixin central{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin hide{
    opacity:0;
    visibility: hidden;
}

@mixin visible{
    opacity: 1;
    visibility: visible;
}

@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin playerCards{
    @include flexCenter;
    margin-bottom: $card-margin-bottom;
}

@mixin popupButton{
        
                cursor: pointer;
                color: $color-corail;
                font-size: 5.333333vh;
                text-transform: uppercase;
                background: none;
                text-align: center;
                padding: 2vh 5.333333vh;
                border-radius: 13.333333vh;
                font-size: 3.6vh;
                transition: .2s;
                text-decoration: none;
                

                
                

                &:hover{
                    color: $color-white;
                    background-color: $color-corail;
                    border-radius: 100px;
                    transform: translate(-.1rem);
                    box-shadow: 0 2.666666vh 4vh rgba(0, 0, 0 , .3);
                }
}

@mixin cornerBottomLeft{
                position: fixed;
                bottom: 3.333333vh;
                left: 2%;
}