$color-bleu-light: #63e2dc;
$color-bleu-dark: #093483;
$color-bleu-white: #54d4ce;
$color-bleu-black: #090357;
$color-grey: rgb(58, 57, 57);
$color-grey-light: rgb(172, 172, 172);
$color-grey-dark: #333;
$color-white: rgb(255, 255, 255);
$color-black: rgb(0,0,0);
$color-corail: #EB4D4D;
$color-corail-dark: rgb(206, 46, 46);


$card-width: 30%;
$c-width: 10rem;
$col-width: 30%;
$card-margin-bottom: .7rem;
