.card{
    min-width: 20vh;
    max-width: 20vh;
    border-radius: 0.5rem;
}



.cartes-milieu{
    position: absolute;
    bottom: 4vh;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 1.333333vh;
    display: flex;
    flex-direction: column;
    z-index:10;
    

    &__1{
        @include flexCenter;
    }
    
    &__2{
        @include flexCenter;
    }
}
.mcarte{
    flex: 1 0 0;
    min-width: 16vh;
    max-width: 16vh;
    border-radius: 0.5rem;
}



.carte{
    flex: 1 0 0;
    min-width: 9.3333333vh;
    max-width: 9.3333333vh;
    border-radius: 0.3rem;
   

}