.player{

    &-panel{
        flex-wrap: nowrap;
        

        &-0{
         
            display: flex;
            flex-direction: column;

            &__cards{
                @include playerCards;
                margin-right: .7rem;
               
            }
        }

        &-1{
            display: flex;
           flex-direction: column;

            &__cards{
                @include playerCards;
            

        }
        }
        
        &-2{
            display: flex;
            flex-direction: column;

            &__cards{
                @include playerCards;
                margin-right: .7rem;
                
        }
        }
        &-3{
            display: flex;
            flex-direction: column;

            &__cards{
                @include playerCards;
                
                
        }
        }
        &-4{
            display: flex;
            flex-direction: column;

            &__cards{
                @include playerCards;
                margin-right: .7rem;
               
        }
        }
        &-5{
            display: flex;
            
            flex-direction: column;

            &__cards{
                @include playerCards;
               
                
        }
        }
        &-6{
            display: flex;
            flex-direction: column;

            &__cards{
                @include playerCards;
                margin-right: .7rem;
              
        }
        }
        &-7{
            display: flex;
            flex-direction: column;

            &__cards{
                @include playerCards;
                
            
        }
        }


    }
    &-name{
        

        text-align: center;
        text-transform: uppercase;
        font-size: 250%;
        font-weight: 400;
        letter-spacing: .2rem;
       
    
        

    }


    &-text{
        display: block;
        //background-color: white;
        //border-bottom-left-radius: 10rem;
        //border-bottom-right-radius: 10rem;
        text-transform: uppercase;
        text-align: center;
        font-size: 150%;
        font-weight: 400;
        color: $color-corail-dark;
        line-height: 100%;
        min-height: 6rem;
        font-style: bold  ;
        

        
        

    }



}